/* Style buttons */
.btn {
    background-color: rgb(230, 41, 27); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 8px 12px; /* Some padding */
    margin: 2px 4px;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  .btnShow {
    background-color: rgb(30, 27, 230);
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(88, 0, 0);
  }

  .btnShow:hover {
    background-color: rgb(0, 21, 88);
  }