<table class="table" *ngIf="data != null">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let item of columns" scope="col">{{item}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of data">
        <th scope="row">{{employee.idEmployee}}</th>
        <td>{{employee.fullName}}</td>
        <td>{{employee.function}}</td>
        <ng-container *ngIf="employee.boss != null">
            <td>{{employee.boss['fullName']}}</td>
        </ng-container>
        <ng-container *ngIf="employee.boss == null">
            <td>Sin Jefe</td>
        </ng-container>
        <td><button class="btn btnShow" (click)="ver(employee)"><i class="fa fa-eye"></i></button></td>
        <td>
            <button class="btn" (click)="delete(employee)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
